.header-accueil{
    padding-top:30px;
    @include max-width;
   &__logo{
       display:flex;
       justify-content:center;
       @include responsive-desktop{
           justify-content: space-between;
           padding-left:20px;
           padding-top:40px;
       }
   }
   &__photo{
    width:200px;
   }
}
