.presentation{
    padding-top:20px;
    .form{
        background-color:darken($white, 5%);
        height:60px;
        display:flex;
        justify-content:center;
        align-items:center;
        &__textarea{
            border:none;
            background-color:transparent;
            text-align:center;
            font-size:17px;
            &::placeholder{
                color:$black;
            }
        }
        &__icon{
            display:inline-block;
            margin-right:10px
        }
        &__i{
                font-size:20px;
        }
    }
    &__container{
        background-color:darken($white,2%);
        padding-bottom:100px;
    }
    &__heading{
        padding:50px 40px 10px 30px;
        font-size:$size-title;
        text-align:center;
        line-height:3rem;
    }
    &__text{
        padding:0 30px 30px;
        text-align:center;
        font-size:$size-text;
        font-weight:$font-light;
    }
    
}