/*--------------------------------Main restaurants-------------------------------------*/ 
@keyframes iconrotate{
    from{
        transform:rotate(90deg);
    }
    to{
        transform:rotate(360deg);
    }
 }

@keyframes slide-card{
    0% {
        width:0;
        
    }
    100%{
        width:30px;
        padding:30px;
    }
}




.principal-img{
    padding-top:15px;
    height:250px;
    @include responsive-tablet{
        height:300px;
    }
    @include responsive-desktop{
        height:400px;
    }
    &__img{
        width:100%;
        height:100%;
    }
    &__photo{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}
.presentation-restaurant{
    background-color:$white;
    top:-25px;
    border-radius:30px;
    padding:30px 20px;

    &__heading{
        font-family:$font-title;
        font-size:$size-title;
        display:flex;
        align-items:center;
        justify-content:space-between;
        @include responsive-tablet{
            @include max-width;
        }
        
    }


    &__coeur{
        position:relative;
        @include cursor-hand;
    }
    
    &__heart{
        font-size:30px;
        opacity:1;
        &--colored{
        font-size:30px;
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        opacity:0;
        transition:all 0.5s ease-in-out;
        background-image:linear-gradient($light-secondary, $light-primary);
        background-clip:text;
        -webkit-text-stroke:0px;
        color:transparent;
        &:hover{
            opacity:1;
        }
        }
    }
    
    &__bloc{
        @include responsive-tablet{
            display:flex;
            gap:20px;
            justify-content: space-between;
            flex-wrap:wrap;
            @include max-width;
        }
    }
}
    .card{
        padding-top:40px;
        @include responsive-tablet{
            width:calc(100%/2.1); /*---------------------------------------------------*/
        }
        @include responsive-desktop{
            width:calc(100%/3.3);
        }
        &__heading{
            text-transform: uppercase;
            font-size:$size-text;
            font-weight:$font-light;
            position:relative;
            padding-bottom:5px;
            font-size:$size-text;
            width:60px;
            &::after{
                position:absolute;
                content:"";
                width:75%;
                height:3px;
                background-color:$color-tertiary;
                bottom:0;
                left:0;
            }

        }
   
      
        &__plats{
            height:65px;
            margin-top:15px;
            box-shadow: $shadow;
            border-radius:20px;
            display:flex;
            position:relative;
            align-items:center;
            overflow:hidden;
            justify-content: space-between;
            
            @include cursor-hand;
          &:hover{
           
          }
            /*---------------------------------  click card__plat mobile-------------------------------*/
            &:active &__valid{
                display:flex;
                justify-content: center;
                align-items:center;
                animation:slide-card 0.4s;
                animation-fill-mode: forwards;
            }
            &:active &__txt{
             width:80%;  
            } 
            &:active &__acc{
                overflow:hidden;
                text-overflow: ellipsis;
                width:70%;
                white-space: nowrap;
            }
            /*----------------------------------- hover card__plat Desktop-----------------------------*/
            @include responsive-desktop{
                height:80px;
                justify-content: space-between;
                &:hover &__valid{
                    display:flex;
                    justify-content: center;
                    align-items:center;
                    animation:slide-card 0.4s;
                    animation-fill-mode:backwards;
                   
                }
                &:hover &__valid i{
                  animation: iconrotate 0.5s; 
                  animation-fill-mode: forwards;
                  padding:5px;
                }
                &:hover &__txt{
                 width:80%;  
                } 
                &:hover &__acc{
                    overflow:hidden;
                    text-overflow: ellipsis;
                    width:70%;
                    white-space: nowrap;
                }
            }
            /*------------------------------------- hover card__plat Tablet------------------------------------*/
            @include responsive-tablet{
                height:80px;
                justify-content: space-between;
            
                &:hover &__valid{
                    display:flex;
                    justify-content: center;
                    align-items:center;
                    animation:slide-card 0.4s;
                    animation-fill-mode:forwards;
                }
                &:hover &__txt{
                 width:70%;  
                 transition:all 0.5s;
                } 
                &:hover &__acc{
                    overflow:hidden;
                    text-overflow: ellipsis;
                    width:70%;
                    white-space: nowrap;
                    transition:all 0.5s;
                }
            }
            &__txt{
                display:flex;
                flex-direction:column;
                width:100%;
                margin:0 10px;
            }
            &__heading{
                font-size:$size-text;
                font-weight:$font-normal;
            }
            &__description{
                font-size:1.5rem;
                display:flex;
                justify-content:space-between;
            }
            &__acc{
                font-weight:$font-light;
            }
            &__valid{
                display:none;
                background-color:$color-tertiary;
                height:100%;
                border-radius:0 20px 20px 0;
                overflow: hidden;
                /*padding:30px;*/
                
                &:hover{
                    
                  
                }
                i{
                    background-color:$white;
                    //
                    border-radius:50px;
                    color:$color-tertiary;
                    transition:all 0.5s;
                    
                    &:hover{
                        
                    }
                }
            }
        }
    }
