body{
    position:relative;
    
}
.header-accueil, .main-accueil, footer{
    animation:opacity 1s;
    animation-delay:2s;
    opacity:0;
    animation-fill-mode: forwards;
}




.loader{
    opacity:0;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    animation:loader 5s;
    animation-fill-mode: forwards;
    animation-delay:0.01s;
    &__icon{
        font-size:100px;
        position:relative;
    }
   
}



.presentation{
    padding-top:20px;
    @include responsive-desktop{
        background:url("../../images/restaurants/presentation_img.jpg"); 
        background-size: cover;
        background-position: 0% 65%;
        margin-top:30px;
        padding:0;
        height:500px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        position:relative;
    }
    .form{
        background-color:darken($white, 5%);
        height:60px;
        display:flex;
        justify-content:center;
        align-items:center;
        @include responsive-desktop{
            background-color:transparent;
            color:$white;
            border:1px solid $white;
            padding:5px;
            width:200px;
            position:absolute;
            right:4%;
            top:6%;
            border-radius:20px;
            justify-content: space-between;
        }
        &__textarea{
            border:none;
            background-color:transparent;
            text-align:center;
            font-size:17px;
            @include responsive-desktop{
                margin-right:20px;
                
            }
            &::placeholder{
                color:$black;
                @include responsive-desktop{
                    color:$white;
                }
            }
        }
        &__icon{
            display:inline-block;
        }
        &__i{
            font-size:20px;
            margin-left:20px;
        }
    }
    &__container{
        background-color:$clear-back;
        padding-bottom:60px;
        position:relative;
        @include responsive-desktop{
            padding-left:20px;
            background:transparent;
            padding-bottom:20px;
            background-color:rgba(0,0,0,.5);
        }
    }
    &__heading{
        padding:50px 40px 10px 30px;
        font-size:$size-title;
        text-align:center;
        line-height:3.5rem;
        @include max-width;
        @include responsive-desktop{
            padding-left:0;
            color:$white;
        }
    }
    &__text{
        padding:0 30px 30px;
        text-align:center;
        font-size:$size-text;
        font-weight:$font-light;
        @include max-width;
        @include responsive-desktop{
            padding-left:0;
            color:$white;
        }
    }
    
}

.fonctionnement{
    padding:60px 40px 20px 40px;
    
    &__heading{
        font-size:$size-title;
        @include max-width;
    }
    &__article{
        &--lila{
            background-color:lighten($color-primary, 35);
        }
    }
    &__bloc{
                padding:60px 0;
                display:flex;
                flex-direction:column;
                gap:30px;
                @include max-width;
                @include responsive-desktop{
                    flex-direction:row;
                    justify-content:space-between;
                }
    }
    .article{
        box-shadow:$shadow;
        display:flex;
        gap:20px;
        height:70px;
        font-size:$size-text;
        border-radius:20px;
        position:relative;
        justify-content: start;
        align-items:center;
        position:relative;
        padding-left:40px;
        @include responsive-desktop{
            width:calc(100%/3);
            gap:30px;
        }
      &__number{
          border-radius:50px;
          background-color:$color-primary;
          color:$white;
          padding:5px 12px;
          position:absolute;
          left:-17px;
      }
      &__icon{
          color:lighten($black, 40);
          &--purple{
              color:$color-primary;
          }
          i{
              font-size:22px;
          }
      }
    }
}

.restaurants{
    padding: $basic-padding;
    background-color:$clear-back;
    
    
    &__heading{
        font-size:$size-title;
        padding-bottom:20px;
        @include max-width;
    }
    &__bloc{
        display:flex;
        flex-direction:column;
        gap:30px;
        @include max-width;
        @include responsive-desktop{
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:space-between;
        }
    }
    .article{
        border-radius:20px;
        box-shadow:$shadow;
            @include responsive-desktop{
                width:22%; 
            }
        a{
            display:flex;
            flex-direction:column;
            height:250px;
            text-decoration: none;
            color:$black;
            position:relative;
        }
        &__cardMenu{
            position:absolute;
            right:4%;
            top:4%;
            background-color:$color-tertiary;
            padding:5px 10px;
            font-size:1.2rem;
            color:darken($color-tertiary,40);
            border-radius:2px;
        }
        &__img{
            width:100%;
            height:70%;
        }
        &__photo{
            width:100%;
            height:100%;
            object-fit:cover;
            border-radius:20px 20px 0px 0;

        }
        &__description{
            padding:15px 10px;
            display:flex;
            align-items:center;
            justify-content: space-between;
        }
        &__heading{
            font-size:$size-text;
        }
        &__coeur{
            position:relative;
        }
        &__heart{
                font-size:30px;
                opacity:1;
                &--colored{
                    font-size:30px;
                    position:absolute;
                    top:0;
                    right:0;
                    left:0;
                    bottom:0;
                    opacity:0;
                    transition:all 0.2s ease-in-out;
                    background-image:linear-gradient($light-secondary, $light-primary);
                    background-clip:text;
                    -webkit-text-stroke:0px;
                    color:transparent;
                    &:hover{
                        opacity:1;
        }
    }
        }
        &__city{
            font-size:1.6rem;
            font-weight:$font-light;
        }

        &__heart i{
            font-size:30px;
        }
           
    }
}


/*---------------------------------------- Page restaurants----------------------------------------*/ 

