/*---------------------------------------- Utils------------------------------------------------*/
/*--------------------Color css----------------------*/
/*--------------------Font family---------------------*/
/*----------------------Font weight--------------------*/
/*--------------------Font size--------------------------*/
/*---------------------padding-------------------------*/
/*------------------box-shadow----------------------*/
/*-----------------------------Fond background----------------------------*/
/*----------------------------------------Base---------------------------------------------------*/
/*----------------------Import font------------------------*/
@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
}

/*---------------------------------------Components---------------------------------------------*/
/*----------------------Button presentation-------------------*/
.presentation__button {
  display: block;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.8rem;
  border: none;
  background: linear-gradient(150deg, #FF79DA 5%, 30%, #9356DC 65%);
  color: #FFF;
  max-width: 1400px;
  margin: auto;
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

.presentation__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(#ff88de, #9b63df);
}

.presentation__button a {
  font-style: none;
  text-decoration: none;
  color: #FFF;
}

.presentation__button a {
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

.presentation-restaurant__button {
  display: block;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.8rem;
  border: none;
  background: linear-gradient(150deg, #FF79DA 5%, 30%, #9356DC 65%);
  color: #FFF;
  max-width: 1400px;
  margin: auto;
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
  padding: 15px 40px;
  margin-top: 40px;
}

.presentation-restaurant__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(#ff88de, #9b63df);
}

.presentation-restaurant__button a {
  font-style: none;
  text-decoration: none;
  color: #FFF;
}

.presentation-restaurant__button a {
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

/*----------------------------------------Layout--------------------------------------------------*/
.header-accueil {
  padding-top: 30px;
  max-width: 1400px;
  margin: auto;
}

.header-accueil__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .header-accueil__logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-top: 40px;
  }
}

.header-accueil__photo {
  width: 200px;
}

.presentation {
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {
  .presentation {
    background: url("../../images/restaurants/presentation_img.jpg");
    background-size: cover;
    background-position: 0% 65%;
    margin-top: 30px;
    padding: 0;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.presentation .form {
  background-color: #f2f2f2;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .presentation .form {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px;
    width: 200px;
    position: absolute;
    right: 4%;
    top: 6%;
    border-radius: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.presentation .form__textarea {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
}

@media screen and (min-width: 1024px) {
  .presentation .form__textarea {
    margin-right: 20px;
  }
}

.presentation .form__textarea::-webkit-input-placeholder {
  color: #131313;
}

.presentation .form__textarea:-ms-input-placeholder {
  color: #131313;
}

.presentation .form__textarea::-ms-input-placeholder {
  color: #131313;
}

.presentation .form__textarea::placeholder {
  color: #131313;
}

@media screen and (min-width: 1024px) {
  .presentation .form__textarea::-webkit-input-placeholder {
    color: #FFF;
  }
  .presentation .form__textarea:-ms-input-placeholder {
    color: #FFF;
  }
  .presentation .form__textarea::-ms-input-placeholder {
    color: #FFF;
  }
  .presentation .form__textarea::placeholder {
    color: #FFF;
  }
}

.presentation .form__icon {
  display: inline-block;
}

.presentation .form__i {
  font-size: 20px;
  margin-left: 20px;
}

.presentation__container {
  background-color: #fafafa;
  padding-bottom: 60px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .presentation__container {
    padding-left: 20px;
    background: transparent;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.presentation__heading {
  padding: 50px 40px 10px 30px;
  font-size: 2.5rem;
  text-align: center;
  line-height: 3.5rem;
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .presentation__heading {
    padding-left: 0;
    color: #FFF;
  }
}

.presentation__text {
  padding: 0 30px 30px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .presentation__text {
    padding-left: 0;
    color: #FFF;
  }
}

.fonctionnement {
  padding: 60px 40px 20px 40px;
}

.fonctionnement__heading {
  font-size: 2.5rem;
  max-width: 1400px;
  margin: auto;
}

.fonctionnement__article--lila {
  background-color: #f2eafb;
}

.fonctionnement__bloc {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .fonctionnement__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fonctionnement .article {
  -webkit-box-shadow: 0px 0px 21px -11px #42445a;
          box-shadow: 0px 0px 21px -11px #42445a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 70px;
  font-size: 1.8rem;
  border-radius: 20px;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 40px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement .article {
    width: calc(100%/3);
    gap: 30px;
  }
}

.fonctionnement .article__number {
  border-radius: 50px;
  background-color: #9356DC;
  color: #FFF;
  padding: 5px 12px;
  position: absolute;
  left: -17px;
}

.fonctionnement .article__icon {
  color: #797979;
}

.fonctionnement .article__icon--purple {
  color: #9356DC;
}

.fonctionnement .article__icon i {
  font-size: 22px;
}

.restaurants {
  padding: 60px 20px;
  background-color: #fafafa;
}

.restaurants__heading {
  font-size: 2.5rem;
  padding-bottom: 20px;
  max-width: 1400px;
  margin: auto;
}

.restaurants__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .restaurants__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants .article {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px -11px #42445a;
          box-shadow: 0px 0px 21px -11px #42445a;
}

@media screen and (min-width: 1024px) {
  .restaurants .article {
    width: 22%;
  }
}

.restaurants .article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  text-decoration: none;
  color: #131313;
  position: relative;
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

.restaurants .article__cardMenu {
  position: absolute;
  right: 4%;
  top: 4%;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: #278870;
  border-radius: 2px;
}

.restaurants .article__img {
  width: 100%;
  height: 70%;
}

.restaurants .article__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0;
}

.restaurants .article__description {
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .article__heading {
  font-size: 1.8rem;
}

.restaurants .article__heart {
  padding: 0 10px 0 20px;
}

.restaurants .article__city {
  font-size: 1.6rem;
  font-weight: 300;
}

.restaurants .article__heart i {
  font-size: 30px;
}

/*---------------------------------------- Page restaurants----------------------------------------*/
.footer {
  background-color: #434343;
  padding: 30px 0 50px 20px;
}

.footer__logo {
  font-family: "Shrikhand";
  color: #FFF;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding-top: 15px;
  max-width: 1400px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 20px 0 20px;
  }
}

.footer__items {
  padding-top: 10px;
}

.footer__items i {
  margin-right: 10px;
}

.footer__items a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.8rem;
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

/*---------------------------------header restaurants--------------------------*/
.header-restaurants {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: relative;
}

.header-restaurants__arrow {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.header-restaurants__arrow i {
  color: #131313;
  font-size: 20px;
}

.header-restaurants__photo {
  width: 200px;
}

/*--------------------------------Main restaurants-------------------------------------*/
.principal-img {
  padding-top: 15px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .principal-img {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .principal-img {
    height: 400px;
  }
}

.principal-img__img {
  width: 100%;
  height: 100%;
}

.principal-img__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation-restaurant {
  background-color: #FFF;
  position: relative;
  top: -25px;
  border-radius: 30px;
  padding: 30px 20px;
}

.presentation-restaurant__heading {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .presentation-restaurant__heading {
    max-width: 1400px;
    margin: auto;
  }
}

.presentation-restaurant__heading i {
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
}

@media screen and (min-width: 768px) {
  .presentation-restaurant__heading i {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .presentation-restaurant__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
  }
}

.card {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(100%/2.1);
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: calc(100%/3.3);
  }
}

.card__heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  position: relative;
  padding-bottom: 5px;
  font-size: 1.8rem;
  width: 60px;
}

.card__heading::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background-color: #99E2D0;
  bottom: 0;
  left: 0;
}

.card__plats {
  height: 65px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 21px -11px #42445a;
          box-shadow: 0px 0px 21px -11px #42445a;
  border-radius: 20px;
  /*padding:10px 10px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  cursor: url("../../images/icones/cursor-hand.svg"), pointer;
  /*---------------------------------  click card__plat mobile-------------------------------*/
  /*----------------------------------- hover card__plat Desktop-----------------------------*/
  /*------------------------------------- hover card__plat Tablet------------------------------------*/
}

.card__plats:active .card__plats__valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.card__plats:active .card__plats__txt {
  width: 80%;
}

.card__plats:active .card__plats__acc {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .card__plats {
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__plats:hover .card__plats__valid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
  }
  .card__plats:hover .card__plats__txt {
    width: 80%;
  }
  .card__plats:hover .card__plats__acc {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .card__plats {
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__plats:hover .card__plats__valid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
  }
  .card__plats:hover .card__plats__txt {
    width: 80%;
  }
  .card__plats:hover .card__plats__acc {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    white-space: nowrap;
  }
}

.card__plats__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 10px;
}

.card__plats__heading {
  font-size: 1.8rem;
  font-weight: 400;
}

.card__plats__description {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__plats__acc {
  font-weight: 300;
}

.card__plats__valid {
  display: none;
  padding: 20px;
  background-color: #99E2D0;
  height: 100%;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__plats__valid:hover {
  -webkit-transform: translate(50px);
          transform: translate(50px);
}

.card__plats__valid i {
  background-color: #FFF;
  padding: 5px;
  border-radius: 50px;
  color: #99E2D0;
}

/*-----------------------------------------Pages elements--------------------------------------------*/
/*--------------------------------Photo la note enchantee------------------*/
.principal-img__photo--lne {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
}

/*------------------------------Photo a la francaise-------------------------------*/
.principal-img__photo--alf {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

/*--------------------------------Photo la note enchantee------------------*/
.principal-img__photo--lne {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
}

/*--------------------------------Photo le delice des sens------------------*/
.principal-img__photo--dds {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}
/*# sourceMappingURL=main.css.map */