/*--------------------Color css----------------------*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$white:#FFF;
$black:#131313;

/*--------------------Font family---------------------*/
$font-text:"Roboto";
$font-title:"Shrikhand";

/*----------------------Font weight--------------------*/
$font-bold:600;
$font-light:300;
/*--------------------Font size--------------------------*/
$size-text:2rem;
$size-title:3rem;