/*--------------------Color css----------------------*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$white:#FFF;
$black:#131313;

/*--------------------Font family---------------------*/
$font-text:"Roboto";
$font-title:"Shrikhand";

/*----------------------Font weight--------------------*/
$font-bold:600;
$font-light:300;
$font-normal:400;
/*--------------------Font size--------------------------*/
$size-text:1.8rem;
$size-title:2.5rem;

/*---------------------padding-------------------------*/
$basic-padding:60px 20px;
/*------------------box-shadow----------------------*/
$shadow: 0px 0px 21px -11px rgba(66, 68, 90, 1);

/*-----------------------------Fond background----------------------------*/
$clear-back:darken($white,2%);


$light-secondary:lighten($color-secondary,5);
$light-primary:lighten($color-primary,5);
$dark-secondary:darken($color-secondary, 10);

/*---------------------------------animation delay--------------------------------*/

$delai1:0.5s;
$delai2:0.7s;
$delai3:0.9s;