<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Commandez des plats délicieux avec La palette du goût">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/main.css">
        <script src="https://kit.fontawesome.com/e65359aae8.js" crossorigin="anonymous"></script>
        <title>Oh My Food - La palette du goût</title>
    </head>
    <body>
        <header class="header-restaurants">
            <div class="header-restaurants__arrow">
                <a href="../index.html"><i class="fa-solid fa-arrow-left header-restaurants__icon"></i></a>
            </div>
            <div class="header-restaurants__logo">
                <img src="../public/images/logo/ohmyfood.png" alt="logo du site ohmyfood" class="header__photo" width="200">
            </div>
        </header>
        <main>
            <section class="principal-img">
                <div class="principal-img__img">
                    <img src="../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="Image du restaurant en gros plan" class="principal-img__photo">
                </div>
            </section>
            <section class="presentation-restaurant">
                <h2 class="presentation-restaurant__heading">
                    La palette du goût 
                    <i class="fa-regular fa-heart"></i>
                </h2>
                <div class="presentation-restaurant__bloc">
                    <article class="card presentation-restaurant__card">
                        <h3 class="card__heading">
                            Entrées
                        </h3>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Fricassée d'escargot
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Au piment d'espelette
                                </p>
                                <div class="card__plats__price">
                                    25€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Foie gras de canard mi-cuit
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Et ses copaux de truffe noire
                                </p>
                                <div class="card__plats__price">
                                    35€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Oeuf au plat
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Assaisonné à la truffe sur lit de caviar
                                </p>
                                <div class="card__plats__price">
                                    20€
                                </div>     
                            </div>
                        </div>
                    </article>
                    <article class="card presentation-restaurant__card">
                        <h3 class="card__heading">
                            Plats
                        </h3>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Filet de boeuf aux herbes
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Accompagné de sa ribambelle de légumes 
                                </p>
                                <div class="card__plats__price">
                                    40€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Parmentier de queue de boeuf
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    À la truffe noire sur sa purée de panais
                                </p>
                                <div class="card__plats__price">
                                    35€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Filet de turbot
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Aux agrumes
                                </p>
                                <div class="card__plats__price">
                                    44€
                                </div>     
                            </div>
                        </div>
                    </article>
                    <article class="card presentation-restaurant__card">
                        <h3 class="card__heading">
                            Desserts
                        </h3>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Paris-Brest
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Revisité
                                </p>
                                <div class="card__plats__price">
                                    18€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Macaron au chocolat d'exception
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Et glace à la vanille de Madagascar
                                </p>
                                <div class="card__plats__price">
                                    22€
                                </div>     
                            </div>
                        </div>
                        <div class="card__plats">
                                <h4 class="card__plats__heading">
                                    Mousse au chocolat
                                </h4>
                            <div class="card__plats__description">
                                <p class="card__plats__acc">
                                    Au piment d'espelette et à la truffe noire
                                </p>
                                <div class="card__plats__price">
                                    23€
                                </div>     
                            </div>
                        </div>
                    </article>
                </div>
                    <button class="presentation-restaurant__button">
                        <a href="#">Commander</a>
                    </button>
            </section>
        </main>
        <footer class="footer">
            <h2 class="footer__logo">
                Ohmyfood
            </h2>
            <ul class="footer__list">
                <li class="footer__items"><a href="#"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</a></li>
                <li class="footer__items"><a href="#"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</a></li>
                <li class="footer__items"><a href="#">Mentions légales</a></li>
                <li class="footer__items"><a href="mailto:ohmyfood@mail.com">Contact</a></li>
            </ul>
        </footer>
    </body>
</html>